<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Fragment Id="ProgressDialog">

		<UI>
			<Dialog Id="Progress" Width="280" Height="110" Title="Installing [ProductName]" Modeless="yes">
				<Control Id="Cancel" Type="PushButton" X="213" Y="85" Width="62" Height="18" Default="yes" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="Cancel">1</Publish>
				</Control>
				<Control Id="InstallingIco" Type="Icon" X="9" Y="9" Width="24" Height="24" Text="InstallingIco" />
				<Control Id="PleaseWait" Type="Text" X="44" Y="8" Width="230" Height="37">
					<Text>Please wait while Windows configures [ProductName].</Text>
				</Control>
				<Control Id="Progress" Type="ProgressBar" X="7" Y="87" Width="200" Height="14">
					<Subscribe Event="SetProgress" Attribute="Progress" />
				</Control>
				<Control Id="ActionText" Type="Text" X="8" Y="40" Width="260" Height="12" Transparent="yes">
					<Subscribe Event="ActionText" Attribute="Text" />
				</Control>
				<Control Id="ActionData" Type="Text" X="8" Y="55" Width="260" Height="12" Transparent="yes">
					<Subscribe Event="ActionData" Attribute="Text" />
				</Control>
				<Control Id="TimeRemaining" Type="Text" X="8" Y="70" Width="260" Height="12" Transparent="yes">
					<Subscribe Event="TimeRemaining" Attribute="TimeRemaining" />
					<Subscribe Event="ScriptInProgess" Attribute="Text" />
				</Control>
			</Dialog>
			<UIText Id="ScriptInProgress">Compiling installation script...</UIText>
			<UIText Id="TimeRemaining">[2] seconds remaining...</UIText>
		</UI>
	</Fragment>
</Wix>
<!-- vim:ts=2:sw=2:foldmethod=marker
-->
